<p><%= @body[:applicant] %>，您好！</p>
<p style="padding:0 30px">您在<%= @body[:form_created] %>提交的<%= @body[:app_type] %>申请已被管理员<%= @body[:admin_name] %>确认。</p>
<p style="padding:0 30px">请登录系统查询相关信息。</p>
<p style="padding:0 30px">谢谢！</p>
