<p><%= @body[:applicant] %>，您好！</p>
<p style="padding:0 30px">请使用以下链接重置密码，并设置个人信息。</p>
<p style="padding:0 30px"> <a href="<%= @body[:url] %>"><%= @body[:url] %></a> </p>
<p style="padding:0 30px">谢谢！</p>
