- if alert != nil
  %div{:class => "alert alert-warning fade in"}
    %button{:type => "button", :class => "close", 'data-dismiss' => "alert", "aria-hidden" => "true"}x
    %strong= alert
- if flash[:success] != nil
  %div{:class => "alert alert-success fade in"}
    %button{:type => "button", :class => "close", 'data-dismiss' => "alert", "aria-hidden" => "true"}x
    %strong= flash[:success]
- if flash[:error] != nil
  %div{:class => "alert alert-danger fade in"}
    %button{:type => "button", :class => "close", 'data-dismiss' => "alert", "aria-hidden" => "true"}x
    %strong= flash[:error]
    
